body {
    background-color: #131313;
}



nav {
    width: 85%;
    padding: 10px 16px;
    margin: 10px auto 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    color: white;
}

.nav-links-container  {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
}
.nav-links-container a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    opacity: 40%;
    font-family: poppins;
}
.nav-links-container a:hover {
    opacity: 100%;
    animation: 6.9ms ease-in-out;
}

@media (max-width: 760px) {
    nav {
        width: 100%;
    }
    .logo-img{

    }
}